/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
	font-family: Consolas;
}
/*header styles*/
header {
	background-color: #343534;
	color: #00DC00;
	display: table;
	vertical-align: bottom;
	width: 100%;
	padding-left: 5%;
}
/*this is the class ".subtitle" for the sub title in the header*/
.subtitle {
	font-size: 1rem;
	/*line-height: 1.5;*/
}
/*this is the class for the rainbow welcome banner*/
.welcome {
	text-align: center;
}
/*this is a class for the wrapper of the instructions*/
.instructions-wrapper {
	border: 3px solid black;
	padding: 3rem;
	display: inline-flex;
	align-self: center;
}
/*this is supposed to only affect the image of the instructions-wrapper*/
.instructions-wrapper > img {
	float: right;
}
/*about me class*/
.about-me {
	background-color: #1915F7;
	margin-top: 5rem;
	padding: 2rem;
	align-content: center;
	color: white;
}
/*last line of about me in yellow*/
span {
	color: #FFD716;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
}
/*about-me image*/
img[alt="captain picard"] {
	float: left;
	border: .3rem solid white;
	width: 20rem;
	margin: 2rem;
}


/*aligns first line of professional skillz to right*/
.professional-skillz > div > h2 {
	text-align: right;
}
/*table of professional skillz*/
tr {
	background-color: #282825;
	color: #00DC00;
	text-align: left;
th {

}
}
table {
	width: 100%;
	padding: 2em;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;

}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/